<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="mailFrom" value="gcruz"></add>
  </appSettings>
  <connectionStrings>
    <!--Celaya-->
    <!--<add name="strConn" connectionString="Server=celayaapp.ddns.net;Database=dbcasc_qa;User ID=usr_casc;Password=Hadalid1985$;Connect Timeout=30;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Server=celayaapp.ddns.net;Database=dbcasc_qa;User ID=usr_casc;Password=Hadalid1985$;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>-->
    <!--godaddy-->
    <!--<add name="strConn" connectionString="Server=23.229.210.167;Database=dbcasc_qa;User ID=usr_casc;Password=3n|rM#,D;Connect Timeout=30;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Server=23.229.210.167;Database=dbcasc_qa;User ID=usr_casc;Password=3n|rM#,D;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>-->
    <!--cascqa-->
    <!--<add name="strConn" connectionString="Server=casc.dyndns.info;Port=3306;Database=dbcasc_qa;User ID=usr_casc;Password=3n|rM#,D;Connect Timeout=30;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Server=casc.dyndns.info;Port=3306;Database=dbcasc_qa;User ID=usr_casc;Password=3n|rM#,D;" providerName="MySql.Data.MySqlClient"/>-->
    <!--Localhost-->
    <add name="strConn" connectionString="Server=localhost;Database=dbcasc_prod;User ID=usr_casc;Password=3n|rM#,D;Connect Timeout=30;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Server=localhost;Port=3306;Database=dbcasc_prod;User ID=usr_casc;Password=3n|rM#,D;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <location path="default.aspx"/>
  <system.web>
    <httpRuntime maxRequestLength="30720"/>
    <siteMap enabled="true">
      <providers>
        <clear/>
        <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="120"/>
    </authentication>
    <!--<membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear />
        <add name="MySqlMembershipProvider" type="MySql.Web.Security.MySqlMembershipProvider,MySql.Web,Version=6.6.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" autogenerateschema="true" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requireQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="0" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="MySqlProfileProvider">
      <providers>
        <clear/>
        <add name="MySqlProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.6.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" conectionStringName="LocalMySqlServer" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="LocalMySqlServer" applicationName="/" name="MySqlRoleProvider"
        type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.6.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      </providers>
    </roleManager>
    <trust level="Full"/>-->
    
    <anonymousIdentification enabled="true"/>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider"/>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider" type="MySql.Web.Security.MySqlMembershipProvider,MySql.Web,Version=6.6.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" autogenerateschema="true" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requireQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="0" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    
    <sessionState timeout="120"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" defaultRedirect="errors/GenericErrorPage.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="errors/frmFileNotFound.aspx"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="*" path="*.SessionHeartbeatHttpHandler" validate="false" type="AppCasc.SessionHeartbeatHttpHandler"/>
      <add verb="*" path="*.Catalog" validate="false" type="AppCasc.handlers.Catalog"/>
      <add verb="*" path="*.Operation" validate="false" type="AppCasc.handlers.Operation"/>
    </httpHandlers>
  </system.web>

  <!--<system.webServer>
    <handlers>
      <add name="catalog" verb="*" path="*.Catalog" type="AppCasc.handlers.Catalog"/>
      <add name="operation" verb="*" path="*.Operation" type="AppCasc.handlers.Operation"/>
    </handlers>
  </system.webServer>-->

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmEntradas.aspx">
    <system.web>
      <authorization>
        <allow roles="Operador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmSalidas.aspx">
    <system.web>
      <authorization>
        <allow roles="Operador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmReingreso.aspx">
    <system.web>
      <authorization>
        <allow roles="Operador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmRelEntSal.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Operador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmCancelDoc.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmEditMov.aspx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmReporter.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmInventario.aspx">
    <system.web>
      <authorization>
        <allow roles="Inventario"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmOrdenTrabajo.aspx">
    <system.web>
      <authorization>
        <allow roles="Inventario"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="operation/frmRemision.aspx">
    <system.web>
      <authorization>
        <allow roles="Inventario"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="report/frmChart.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="report/frmGeneralChart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Ejecutivo"/>
        <deny users="Operador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="report/frmTransporteChart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Ejecutivo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="report/frmCancelMov.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="catalog">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="processStatus">
    <system.web>
      <authorization>
        <allow roles="Ejecutivo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>